@import url('https://fonts.googleapis.com/css2?family=Inter&family=Narnoor&display=swap');

.light-mode {
    --primary: #1a1a1a;
    --bg: #ededed;
}
.dark-mode {
    --primary: #ededed;
    --bg: #1a1a1a;
}
$primary: --primary;
$bg: --bg;
$font-stack: 'Inter', serif;
html {
    font-family: $font-stack;
    color: var($primary);
    background-color: var($bg);
}

body {
    margin: 0;
}
